* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  background: url(src/background-img.jpeg);
  background-size: cover;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(15px);
  z-index: 999;
  
}

.menu a {
  width: 200px;
  text-align: center;
  border: 1px solid white;
  padding: 2rem;
  margin: 1rem;
  border-radius: 10rem;
  text-decoration: none;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;
}

.menu a:hover {
  color: yellowgreen;
  border: 1px solid yellowgreen;
}