* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
}

.bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(src/background-img.jpeg);
  background-position: center;
  background-size: cover;
  filter: blur(8px);
  z-index: -1;
}

.menu {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  color: white;
  font-size: 40px;
  border: 1px solid white;
  border-radius: 50px;
  padding: 15px 25px;
  background-color: rgba(0, 0, 0, 0);
  margin: 20px;
  width: 300px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  cursor: pointer;
  transition: all 0.3s ease;
}

.menu a > button:hover {
  color: yellow;
  border: 1px solid yellow;
}
