@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: inter;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#container {
  height: 600px;
  width: 350px;
  border-radius: 20px;
  background: #eaeaea;
  border: 2px solid rgba(208, 208, 208, 1);
  box-shadow: 0px 0px 4px 0px rgba(178, 178, 178, 1);
  display: flex;
  flex-direction: column;
  align-items: center;
}



img {
  margin-top: 8px;
  height: 263px;
  width: 333px;
  border-radius: 13px;
  object-fit: cover;
  border: none;
}

.span_container {
  margin-top: 22px;
  margin-bottom: 17px;
  width: 312px;
  display: flex;
}

span {
  font-size: 12px;
  font-weight: 400px;
  color: white;
  padding: 3px 16px;
  margin-left: 7px;
  width: 71px;
  height: 21px;
  background: #13c2c2;
  border-radius: 10.5px;
  text-align: center;
  vertical-align: middle;
  border: none;
}

.span_container span:nth-child(2) {
  background: rgba(24, 144, 255, 1);
}

.title {
  align-self: flex-start;
  margin-left: 18px;
  height: 29px;
  width: 190px;
  font-size: 24px;
  font-weight: 500;
  color: rgba(8, 65, 80, 1);
  font-weight: 400;
}

.content {
  height: 144px;
  width: 333px;
  padding: 9px;
  background: linear-gradient(rgba(8, 65, 80, 1), #eaeaea);
  -webkit-background-clip: text;
  color: transparent;
}

.read {
  width: 156px;
  height: 53px;
  background: #59889a;
  border-radius: 57px;
  border: none;
  color: white;
  font-size: 20px;
  font-weight: 300;
  cursor: pointer;
}
